.card-container {
  cursor: pointer;
  height: 300px;
  width: 300px;
  perspective: 3000px;
  position: relative;
  margin: auto;
  transition: ease-in;
  padding: 5px 7px 7px 5px;
}

.card {
  height: 300px;
  width: 300px;
  position: absolute;
  border: 1px solid #001C7A;
  transform-style: preserve-3d;
  transition: all 0.4s ease-in-out;
  font-weight: bold;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card .front {
  height: 300px;
  width: 300px;
  backface-visibility: hidden;
  position: absolute;
  overflow: hidden;
  text-align: center;
  background-color: rgba(255, 251, 251, 1);
  background: url("../../src/Img/pokemonCardBG.jpg") no-repeat 50% 30%;
  background-size: cover;
}

.card .back {
  height: 300px;
  width: 300px;
  text-align: center;
  transform: rotateY(180deg);
  background: #333333;
  color: #ffffff
}

.frontFaced {
  vertical-align: text-bottom;
  margin-left: -20px;
}

.backFaced {
  vertical-align: text-bottom;
  margin-left: 0;
  padding: 5px;
}
.imgWrapper {
  font-size: 80px;
}

.name {
  font-size: 40px;
  padding-top: 30px;
}

.type {
  padding-top: 30px;
}