.levelWrapper {
  list-style: none;
  padding: 0;
  width: 430px;
  margin: auto;
}
.levelWrapper li {
  float: left;
  margin: 0px 10px 0 0;
  width: 100px;
  height: 40px;
  position: relative;
  background: transparent;
}
.levelWrapper li:last-of-type {
  margin: 0;
}


.levelWrapper img {
  position: absolute;
  top: -20px;
  left: 35px;
  width: 30px;
  z-index: 1000;
}
.levelWrapper label, .levelWrapper input {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.levelWrapper input[type="radio"] {
  opacity:0.011;
  z-index:100;
}
.levelWrapper input[type="radio"]:checked + label {
  background:#011f4b;
  color:#ffffff;
  text-shadow: 0px 0px 0px #ffffff;
}

.levelWrapper label {
  padding:4px;
  cursor:pointer;
  z-index:90;
  line-height: 2;
  text-align: center;
  border-radius: 50px;
  font-size: 16px;
  color:#ffffff;
  text-shadow: 0px 0px 10px #333333;
}